@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --drk-bg-col: #0a0a0a;
  --lit-bg-col: #ffffff;

  --drk-txt-col: #ededed;
  --lit-txt-col: #171717;
  --sec-txt-col: #777;

  --prm-col-1: dodgerblue;
  --prm-col-2: #1e90ff80;
  --prm-col-3: #1e90ff50;
  --prm-col-4: #1e90ff30;
  --prm-col-5: #1e90ff20;

  --sec-col-1: #686868;

  --header-height: 90px;
  --main-height: calc(100dvh - var(--header-height));
  --trans-dur: 300ms;

  --text-col: light-dark(var(--lit-txt-col), var(--drk-txt-col));
  --bg-col: light-dark(var(--lit-bg-col), var(--drk-bg-col));

  background-color: var(--bg-col);
  color: var(--text-col);

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: dark light;
  font-family: var(--font-roboto-mono), monospace;
}

h1 {
  font-size: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  scrollbar-width: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);

  &::selection {
    background-color: var(--prm-col-1);
    color: #fff;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-size: 17px;
  border-radius: 100px;
  padding: 7px 15px;
  border: 3px solid var(--prm-col-1);
  transition-property: color, background-color;
  transition-duration: var(--trans-dur);
  color: var(--prm-col-1);
  user-select: none;
  white-space: nowrap;

  &:hover {
    background-color: var(--prm-col-1);
    color: var(--drk-txt-col);
  }
}

/* Animaiton Keyframes Start */
@keyframes spin-clockwise {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

@keyframes spin-anticlockwise {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes fill-width {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}

@keyframes half-width {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes full-width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes full-width-gpu {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes settle-left {
  from {
    transform: translateX(-25px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes settle-right {
  from {
    transform: translateX(25px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes settle-top {
  from {
    transform: translateY(-25px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes settle-bottom {
  from {
    transform: translateY(25px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes to-right {
  to {
    right: 0;
  }
}

@keyframes settle-x-gpu {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Animaiton Keyframes End */

/* Reduce Motion Media Start */
@media (prefers-reduced-motion: reduce) {
  button {
    transition: none;
  }
}
/* Reduce Motion Media End */
