.themeToggle {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 8px 10px 5px 10px;
  border-radius: 100px;
  border: 2px solid var(--sec-col-1);
  font-size: 0.9rem;

  & > * {
    cursor: pointer;
    color: var(--sec-col-1);
    transition: color var(--trans-dur);

    &:hover {
      color: var(--prm-col-1);
    }
  }
}
